*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-right: 0 !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #54be73 !important;
}

/* a {
  text-decoration: none;
  color: black;
} */
