*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-right: 0 !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #54be73 !important;
}

a {
  text-decoration: none;
  color: black;
}

.MuiToggleButton-root {
  border: 1px solid grey !important;
  color: black !important;
  text-transform: none !important;
  margin: 5px !important;
  padding: 5px 10px !important;
}

.MuiToggleButton-root.Mui-selected {
  background: #54be73 !important;
  color: white !important;
}

.MuiToggleButtonGroup-root {
  display: flex !important;
  flex-wrap: wrap !important;
}
